{% extends 'base.html' %}

{%block title%}Boîte à idées {%endblock%}



{%block content%}

<h1>Voici la boite à idées</h1>


<ul>
    {% for idee in liste_idee %}
  <div>
    <h2>{{ idee.formulation }}</h2>
    <p>{{ idee.detail }}</p>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="idea_id" value="{{ idee.id }}">
      <button type="submit" name="vote_value" value="1">+1</button>
      <button type="submit" name="vote_value" value="-1">-1</button>
      Total votes: {{ idee.total_votes }}
    </form>
    <p> Par {{ idee.author }} le {{ idee.created_at }} </p>
  </div>
{% endfor %}

</ul>

{%endblock%}
